[Unit]
Description=Maple Control Web Server
Wants=network.target
After=network.target

[Service]
Environment=NVM_INC=/home/mark/.nvm/versions/node/v15.11.0/include/node
Environment=NVM_BIN=/home/mark/.nvm/versions/node/v15.11.0/bin
WorkingDirectory=/home/mark/maple/vue
Type=simple
ExecStart=/bin/bash -c 'PATH=/home/mark/.nvm/versions/node/v15.11.0/bin:$PATH exec npm run dev'
Restart=on-abort
User=mark
Group=mark

[Install]
WantedBy=kiosk.service
