[Unit]
Description=Maple Control
Wants=multi-user.target
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/mark/maple
ExecStart=/home/mark/maple/venv/bin/python /home/mark/maple/main.py --nologtime
Restart=always
User=mark
Group=mark

[Install]
WantedBy=multi-user.target maplecontrol.service

